@font-face {
    font-family: 'Livvic';
    src: url(../../webfonts/livvic/Livvic-Light.ttf);
    src: url(../../webfonts/livvic/Livvic-Regular.ttf);
    src: url(../../webfonts/livvic/Livvic-Medium.ttf);
    src: url(../../webfonts/livvic/Livvic-SemiBold.ttf);
    src: url(../../webfonts/livvic/Livvic-Bold.ttf);
}
