.primary-btn {
    font-weight: 600;
    display: inline-block;
    border-radius: 2em;
    padding: 0.9em 2.5em;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(30deg, var(--dorange), var(--orange));
    color: #fff;
    cursor: pointer;
}
.primary-btn:hover {
    background-image: linear-gradient(30deg, var(--orange), var(--dorange));
}
.secondary-btn {
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    border-radius: 1.6em;
    padding: 0.5em 1.4em;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--blue), var(--lblue));
    color: #fff;
    cursor: pointer;
}
.secondary-btn:hover {
    background-image: linear-gradient(to left, var(--blue), var(--lblue));
}
