/* Primary Button */

.primary-btn {
    font-weight: 600;
    line-height: 26px;
    display: inline-block;
    border-radius: 2em;
    padding: 0.9em 2.5em;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(30deg, var(--dorange), var(--orange));
    color: #fff;
    cursor: pointer;
}

.primary-btn:hover {
    background-image: linear-gradient(30deg, var(--orange), var(--dorange));
}

/* Secondary Button */

.secondary-btn {
    font-weight: 600;
    line-height: 26px;
    display: inline-block;
    font-size: 14px;
    border-radius: 1.6em;
    padding: 0.5em 1.4em;
    margin: 10px 0;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--blue), var(--lblue));
    color: #fff;
    cursor: pointer;
}

.secondary-btn:hover {
    background-image: linear-gradient(to left, var(--blue), var(--lblue));
}

/* Scroll-To-Top Button */

.scroll-btn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 1.1rem;
    color: #fff;
    background-image: var(--bg-grad-blue);
    border-radius: 50%;
    width: 44px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out 0.25s;
}

.show-btn {
    visibility: visible;
    opacity: 1;
}

.scroll-btn:hover {
    opacity: 0.8;
}
