.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0.5em;
}

.progress-bar > .top {
    display: flex;
    justify-content: space-between;
    color: var(--dark);
    font-size: 14px;
}

.label {
    font-size: 14px;
    font-weight: 500;
}

.value {
    font-size: 16px;
    font-weight: 700;
}

.progress-bar > .bottom {
    height: 7px;
    background-color: var(--lgray);
}

.progress-bar > .bottom > .progress {
    height: 100%;
    width: 100%;
}

.progress-bar .progress > .bar {
    height: 100%;
    width: 100%;
    animation: loading 2s forwards;
}

.bar1 {
    background-color: var(--orange);
}

.bar2 {
    background-color: var(--teal);
}

.bar3 {
    background-color: var(--lblue);
}

.bar4 {
    background-color: var(--pink);
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
